<div class="row">
    <div class="col">
        <div class="container">

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'autore' autori.iid %}"> {{autori.emri}} </a>
      </h5>
  </div>
  <div class="text-center pb-3">
    {% for liber in autori.librat.all %}
            {% include "komponente/liber.html" %}
            <br/>
        {% endfor %}
  </div>

  <div class="card-footer text-muted">
  </div>
</div>
        </div>
    </div>
</div>
